<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.share.mapper.ShareContentMapper">
    <resultMap id="ShareContentResultMap" type="com.example.share.model.ShareContent">
        <id property="id" column="id" />
        <result property="shareId" column="share_id" />
        <result property="objId" column="obj_id" />
        <result property="objType" column="obj_type" />
    </resultMap>

    <insert id="insert" parameterType="com.example.share.model.ShareContent">
        INSERT INTO share_content (share_id, obj_id, obj_type)
        VALUES (#{shareId}, #{objId}, #{objType})
    </insert>

    <select id="selectByShareId" resultMap="ShareContentResultMap">
        SELECT * FROM share_content WHERE share_id = #{shareId}
    </select>

    <delete id="deleteByShareId">
        DELETE FROM share_content WHERE share_id = #{shareId}
    </delete>
</mapper> 